@import "Variables";

.react-autosuggest__container {
  display: block;
  position: relative;
  input { box-sizing: border-box; }
};
.react-autosuggest__container--open {
  input { border-radius: 2px 2px 0 0; border-bottom: none; }
};
.react-autosuggest__input {};
.react-autosuggest__input--open {};
.react-autosuggest__input--focused {};
.react-autosuggest__suggestions-container {
  background-color: $dark-grey;
  color: $bright-grey;
  position: absolute;
  width: 100%;
  display: block;
  border-radius: 0 0 2px 2px;
  box-sizing: border-box;
};
.react-autosuggest__suggestions-container--open {
  border: solid 1px $input-border-color;
  border-top: none;
  top: 35px;
};
.react-autosuggest__suggestions-list {};
.react-autosuggest__suggestion {
  padding: 12px;
  cursor: pointer;
};
.react-autosuggest__suggestion--first {};
.react-autosuggest__suggestion--highlighted {
  background-color: $blue;
  color: $light-white;
};
.react-autosuggest__section-container {};
.react-autosuggest__section-container--first {};
.react-autosuggest__section-title {};
