@import "Variables";

.form-container, .input-container {
	background: $grey;
	padding: 20px;
	margin-bottom: 20px;
	min-width: 225px;
	&.container-on-right { margin-left: 20px; }
}

.form-container {	margin-bottom: 35px; }

.success-message {
	a { text-decoration: none; }
	p { margin-bottom: 10px; }
	img.success-icon { height: 13px; padding: 0 13px; }
}

.form-row { margin-bottom: 10px; }

input, .dropzone  {
  background: $dark-grey;
  padding: 10px;
  color: $off-white;
  border: solid 1px $input-border-color;
  outline: none;
  border-radius: $border-radius;
  font-size: 13px;
}

.upload-contract-dropzone {
	position: relative;

	.dropzone  {
		p { display: inline; }
		&.active { border: 1px solid $blue; }
		&.file-chosen { background-color: $dark-grey-2;}
	}

	a.cancel-button {
		position: absolute;
		right: 127px;
		padding: 10px 15px;
		img { height: 11px; }
	}

}

.success-icon { height: 13px; }

textarea {
	background: $dark-grey;
	border: $input-border-color;
	padding: 15px;
}

label {
  line-height: 2.5rem;
  color: $bright-grey;
  font-size: 1rem;
	text-transform: uppercase;
}
select::-ms-expand { display: none; }

select {
  padding: 11px;
  font-size: 12px;
  background: $secondary-grey;
  outline: none;
  border-radius: $border-radius;
  border: $input-border-color;
  color: white;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;

  &:focus {
    background-image:
    linear-gradient(45deg, gray 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, gray 50%);
    background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
    background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;
    outline: 0;
  }

}

.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;
  }
}
