table {
  width: 100%;
  border-collapse: separate;
  color: $off-white;
  font-family: 'Roboto Mono', monospace;

  thead {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;

    tr {
      background: $table-row-hover;
    }
  }

  tbody {

    tr {
      font-size: 0.85rem;
    }

  }

  th { color: $bright-grey; }

  th, td { padding: 16px 19px; }


  tr {
    background: $dark-grey-2;
    td.text { font-family: 'Source Sans Pro', sans-serif; }
    &:hover { background: $table-row-hover; }
    &.separator { height: 2px; }
  }


  td.copyable {
    i.fa-copy {
      display: none;
      cursor: pointer;
    }
    &:hover i.fa.fa-copy { display: inline-block; }
  }

  td.buttons {
    i.fa { font-size: 12px; }
  }

}

span.key {
  color: $bright-grey;
  text-transform: uppercase;
  margin: 0 20px 0 0;
}
span.value {
  color: $light-white;
  text-transform: uppercase;
  text-align: right;
}


@media screen and (max-width: 1250px) {
  table {
    tbody {
      td.buttons {
        span.button-text { display: none; }
        i.fa { width: 0; }
        .button.play { padding: 4px 19px 5px 11px; }
        .button.code { padding: 4px 12px 5px 9px; }
      }
    }
  }
}
