.secret-phrase-quiz-container, .import-wallet-container {

  ol.passphrase-quiz {
    width: 96.7%;
    columns: 4;
    column-gap: 70px;
    list-style-type: decimal;
    list-style-position: inside;

    li {
      position: relative;

      &:nth-child(1), &:nth-child(7),
      &:nth-child(13), &:nth-child(19) {
        padding-top: 20px;
        svg { position: absolute; top: 21px; right: -15px; }
      }

      svg { position: absolute; top: 2px; right: -15px; }

      &.invalid svg { color: $red; }
      &.perfect svg { color: $blue; }

      input {
        width: 110px;
        margin: 0 12px;
        top: -25px;
        left: 15px;
        position: relative;

        &.valid { border: 1px solid $blue; }
        &.invalid { border: 1px solid $red; }
        &.perfect { border: 1px solid $border-color; background: $dark-grey-2; }
      }

    }

  }

}

.import-wallet-container {

  ol.passphrase-quiz {
    li {
      input.perfect {
        background: transparent;
        border: 1px solid $blue;
      }
    }
  }

}
