@import "Variables";

ul { list-style: none; }

nav {
  width: 251px;
  background: $dark-black;

  header {
    height: $topbar-height;
    padding: 29px 36px;
    img { height: 42px; }
  }

  ul {

    span {
      display: block;
      padding: 15px;
      color: rgba(255,255,255,.5);
      text-transform: uppercase;
      border-bottom: 1px solid $bg-color-d;
    }

    a {
      position: relative;
      display: block;
      padding: 15px 15px 17px 50px;
      color: $bright-grey;
      text-decoration: none;
      line-height: 1.5rem;
      font-weight: 400;
    }

    a:hover {
      background: $dark-grey-d;
    }
    a.active {
      background: $dark-grey;
      color: $light-blue;
      font-weight: 600;
      border-left: 4px solid $light-blue;
      padding: 15px 15px 17px 46px;
    }

    a:before {
      top: 15px;
      left: 18px;
    }

    li:nth-child(1) a:before { background-image: url('../../../assets/img/nav/wallet.png'); }
    // li:nth-child(2) a:before { content: '\f09d'; }
    // li:nth-child(3) a:before { content: '\f15c'; }
    // li:nth-child(4) a:before { content: '\f024'; }
    // li:nth-child(5) a:before { content: '\f002'; }
    // li:last-child   a:before { content: '\f013'; }

    li:last-child {
      bottom: 0;
      position: absolute;
      width: 200px;
    }
  }

}
