@import "Shared";

.content-container {
  padding: 51px 47px 34px 34px;
  max-width: 800px;
  width: 100%;
}

.page-title {
  padding-bottom: 41px;

  h1 {
    font-size: 1.7rem;
    color: $light-white;
    font-weight: 600;
    margin: 0;
  }
  h3 {
    margin-bottom: 15px;
    font-weight: 400;
  }
}
