.swal-overlay {
  background-color: rgba(0, 0, 0, 0.45);
}

.swal-modal {
  background-color: rgba(0, 0, 0, 0.85);
  border: 3px solid white;
}

.swal-title {
  color: #e6e6e6;
  font-family: Roboto;
}

.swal-text {
  color: #e6e6e6
}
