.swal-overlay {
  background-color: rgba(0, 0, 0, 0.85);

  .swal-modal {
    background-color: $light-grey;
    border-radius: 2px;
    &.enfore-synced-modal .swal-text { text-align: center }
    &.new-wallet-modal { width: 45%; }
    &.secret-phrase-container { width: 600px; }
    &.zen-node-non-zero-exit-modal {
      width: 90%;
    }

    .swal-icon {
      &.swal-icon--success:after,
      &.swal-icon--success:before,
      .swal-icon--success__hide-corners {
        background: $light-grey;
      }

      &.swal-icon--warning {
        animation: pulse 2s infinite;
      }
      .swal-icon--warning__body {
        animation: pulse 2s infinite;
        background-color: #fd3a3a;
        .swal-icon--warning__dot {
          animation: pulse 2s infinite;
          background-color: #fd3a3a;
        }
      }
    }

    .swal-title {
      color: $light-white;
      font-size: 25px;
      font-weight: 300;
      letter-spacing: 0.3px;
      font-family: Roboto;
      padding: 0;
      box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);

      &:not(:last-child) {
        padding-bottom: 25px;
        margin-bottom: 0;
      }
    }

    .swal-text {
      padding: 20px;
      padding-bottom: 30px;
      position: relative;
      display: block;
      width: 100%;
      margin: 0;
      max-width: none;

      color: $grey-text-color;
      padding: 20px;
      font-size: 15px;
      font-weight: 300;
      font-family: Roboto;
      box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
    }

    .swal-content {
      background-color: $dark-grey-2;
      margin: 0;
      padding: 25px;
      border-radius: 2px;

      &:last-child {
        margin-bottom: 0;
      }
    }

  }
}


@keyframes pulse {
  0% {
    border-color: #ff7a21;
  }
  100% {
    border-color: #fd3a3a;
  }
}
