$grey: #181818;
$dark-grey: #121212;
$dark-grey-2: #191919;
$darker-gray: #151515;
$dark-grey-d: darken($dark-grey, 2.5%);
$light-grey: #1c1c1c;
$light-grey-2: #181818;
$light-grey-3: #151515;
$bright-grey: #949494;
$pinkish-grey: #bfbfbf;

$grey-text-color: #808080;

$secondary-grey: #333333;

$dark-black: #121214;

$almost-black: #090909;

$blue: #c0c0c0;
.blue { color: $blue; }
$blue-hover: #a6a6a6;
$blue-focus: #a5a5a5;
$blue-focus-border: #c0c0c0;
$blue-disabled: #676767;
$blue-dot: #d8d8d8;

$CGP-blue: #2f8be6;
$CGP-blue-hover: #3296fa;
$CGP-blue-focus: #297acc;
$CGP-blue-focus-border: #6ca6de;

$blue-l: lighten($blue, 10%);
$bright-blue: #2cb1df;
.bright-blue { color: $bright-blue; }

$light-blue: #c0c0c0;
$light-white: #e6e6e6;
$off-white: #f2f2f2;
$border-color: #232323;
$input-border-color: #313241;

$border-radius: 2px;

$red: #fd3a3a;
.red { color: $red; }
$red-hover: #ff4d4d;
$red-focus: #e33434;
$red-disabled: #6b1919;

$code-pink: #ab58a5;
$code-yellow: #b27d4e;
$code-grey: #96a1a8;


$orange: $red;

$green: #ffffff;
.green { color: $green; }

$light-green: #95f2a5;
.light-green { color: $light-green; }

// Buttons

$button-grey: #333333;
$button-grey-hover: #424242;
$button-grey-focus: #292929;
$button-grey-disabled: #1f1f1f;

$bg-color: $dark-grey;
$bg-color-d: darken($bg-color, 5%);
$bg-color-l: lighten($bg-color, 7.5%);


// Tables

$table-row-hover: #242424;


// Components
$sidebar-width: 230px;

$slidebar-width: 200px;
