@import "styles/Variables";

.box {
  background: $dark-grey-2;
  padding: 17px;
  height: 40px;
  width: 20%;
  margin: 20px 10px;

  .first-input {
    font-size: 14px;
		margin-bottom: 5px;
    color: $light-white;
  }

  .second-input {
    font-weight: bold;
    font-size: 18px;
    color: $light-white;
  }

  div {
    justify-content: space-between;
  }
}
