@import "styles/Variables";

.box {
  background: $darker-gray;
  padding: 17px;
  height: 40px;
  margin: 20px 10px;

  .first-input {
    font-size: 16px;
    font-weight: bold;
    color: $light-white;
		margin-bottom: 5px;
  }

  .second-input {
    font-size: 14px;
  }

  div {
    justify-content: space-between;
  }
}
