@import "styles/Variables";

.box {
  background: $darker-gray;
  padding: 25px;
  height: 40px;
  margin: 20px 10px;

  .first-input {
    font-size: 20px;
    font-weight: 500;
    color: $light-white;
  }

  .second-input {
    font-size: 14px;
  }

  div {
    justify-content: space-between;
  }
}
