.set-password-container {
	.form-container {
		width: 600px;
		background: transparent;
		padding: none;
	}

	ol {
		list-style-type: decimal;
		list-style-position: inside;
		li {
			padding-bottom: 9px;
		}
	}

	h5 { padding-bottom: 9px;	}



}