sudo: required
language: node_js
os:
- osx
- linux
dist: trusty
osx_image: xcode9.0
node_js:
- 8
cache:
  yarn: true
  directories:
  - node_modules
  - app/node_modules
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - icnsutils
    - graphicsmagick
    - xz-utils
    - xorriso
before_install:
  - echo "@zen:registry=https://www.myget.org/F/zenprotocol/npm/" > .npmrc
  - echo "//www.myget.org/F/zenprotocol/npm/:_authToken=$MYGET_TOKEN" >> .npmrc
install:
  - npm i -g npm@latest
  - npm i -g concurrently
  - npm i -g cross-env
  - npm i  babel-register --save-dev
script:
- npm run build
- npm run release
after_success: if [ $TRAVIS_OS_NAME = linux ] && [ ! -z "$TRAVIS_TAG" ]; then npm publish; fi
