.swal-modal.secret-phrase-container {
  width: 90%;
}

.settings-page {
  .row {
    margin-bottom: 40px;
  }
  .description {
    margin-right: 30px;
    width: 350px;
  }
  .description-title {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.2px;
    color: #e6e6e6;
  }
  .description-text {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.58;
    letter-spacing: 0.1px;
    color: #808080;
  }
  .mining-text {
    color: #2f8be6;
  }
  .actions {
    width: 210px;
  }
  .change-password-button {
    margin-left: 10px;
  }
  .activate-password-change-button-container {
    &:not(.isVisible) { display: none; }
    &.isVisible { display: block; }
  }
  .password-change-container {
    &:not(.isVisible) {display: none;}
    &.isVisible { opacity: block; }
  }
}
