.modal-container {
  // display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, .8);
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.modal-container.isActive {
  display: block;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
