@import "styles/Variables";

.content-container { padding: 0px 24px; }

.page-title {
  padding: 20px 0 14px 0;

  h1 {
    font-size: 22px;
    color: $off-white;
    font-weight: 400;
    margin: 0;
		margin-bottom: 10px;
  }
  h3 {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5rem;
    color: $bright-grey;
  }

  .page-buttons { padding-top: 16px; }

}


@media screen and (max-width: 1250px) {
  a.button.with-icon {
    min-width: auto;
    .button-text { display: none; }
  }
}
