@import "styles/Variables";

.magnify {
  background: $dark-grey-2;
}

.box-bar {
  margin:0 -10px;
  width: 60%;
  min-width: 600px;
}

.orange {
  color: $orange;
}

h3 {
  width: 800px;
}
.underline {
  text-decoration: underline;
}
.ul-auth {
  list-style-type: disc;
  margin-left: 15px;
}

.vote-once-modal-content {
  ul {
    list-style-type: disc;
    text-align: left;
    margin: 0 40px;
  }
}
