@import "styles/Variables";

.rc-slider {
	height: 15px;
	.rc-slider-rail {
		height: 15px;
		border-radius: 0;
		background-color: #bfbfbf;
	}
	.rc-slider-track {
		height: 15px;
		background-color: #2f8be6;
		border-radius: 0;
	}

	.rc-slider-handle {
		position: relative;
    width: 14px;
    height: 24px;
    margin-left: -6px;
    background-color: #d8d8d8;
    border-radius: 0;
		border: 0.5px solid #000000;

		&:active,
		&:focus,
		&:hover { box-shadow: 0 0 5px #545454;	}
		&:after {
			content:"";
			position: absolute;
			bottom: -6px;
			left: 0px;
			width:0px;
			height:0px;
			border-left: 6.25px solid transparent;
			border-right: 6.25px solid transparent;
			border-top: 6px solid #d8d8d8;
		}
	}

	.rc-slider-dot {
		position: absolute;
    bottom: -6px;
    margin-left: -4px;
    width: 5px;
    height: 5px;
    border: 1px solid #ffffff;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0;
    vertical-align: middle;
    border-top: 0;
    border-bottom: 0;
	}

}



.allocation-container {

	.page-subtitle { color: $pinkish-grey; }

  .allocation-input {
    background: $light-grey-2;
    border-left: 2px solid $blue;
    min-width: 400px;
    height: 160px;
		padding: 5px 20px;

		.slider-div {
			margin: 0 10px;
			.word-labels label { font-size: 14px; }
			.number-labels label { font-size: 14px; font-weight: bold; }
		}
  }

  .allocation-title {
    font-size: 16px;
    color: $off-white;
    font-weight: 500;
  }

}

.potential-outcome {
  background: $darker-gray;
  margin-left: 25px;
  width: 35%;
	padding: 5px 20px;
  .bar-chart { padding: 10px; }
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.off-white { background-color: $off-white; }

.blue { background-color: $cgp-blue; }

hr {
  width: 100%;
  border-color: $button-grey;
  margin-top: 5px;
  margin-bottom: 7px;
}
h3.page-title {
  max-width: 900px;
}

td {
  padding-bottom: 9px;
}

.box-current {
  background: $darker-gray;
  width: 24%;
  margin-right: 0;
  height: 90px;
}

.box-row {
  background: $light-grey-2;
}

.reward {
  color: $pinkish-grey;
  padding: 10px;
}

.test {
  border: 2px solid $light-green;
}

.allocation-table {
  padding-top: 0;
  font-size: 14px;
  background: transparent;
  color: $grey-text-color;
  padding-left: 10px;
  margin-bottom: 6px;
}

.button-div {
	margin: 0 10px;
	.allocation-button { margin: auto; }
}
