.secret-phrase-quiz-container {
  
  ol.passphrase-quiz {
    columns: 4;
    column-gap: 70px;
    list-style-type: decimal;

    li {
      &:nth-child(1), &:nth-child(7), 
      &:nth-child(13), &:nth-child(19) {
        padding-top: 20px;
      }

      input {
        width: 110px;
        margin: 0 12px;
        top: -25px;
        position: relative;
      }
    }
  }

}
