.secret-phrase-quiz-container {
  
  ol.passphrase-quiz {
    columns: 4;
    column-gap: 70px;
    list-style-type: decimal;

    li {
      position: relative;

      &:nth-child(1), &:nth-child(7), 
      &:nth-child(13), &:nth-child(19) {
        padding-top: 20px;
        i.fa { position: absolute; top: 21px; right: 7px; }
      }

      i.fa { position: absolute; top: 2px; right: 7px; }

      &.invalid i.fa { color: $red; }
      &.perfect i.fa { color: $blue; }

      input {
        width: 110px;
        margin: 0 12px;
        top: -25px;
        position: relative;

        &.valid { border: 1px solid $blue; }
        &.invalid { border: 1px solid $red; }
        &.perfect { border: 1px solid $border-color; background: $dark-grey-2; }
      }

    }

  }

}
