@import "Variables";


button, .button, a.button {
  height: 44px;
  min-width: 125px;
  text-align: center;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  border: none;
  letter-spacing: 0.5px;
  cursor: pointer;
  text-decoration: none;
  background: $blue;
  padding: 0 12px;

  i.fa.fa-spinner { margin-left: 6px; }

  &:hover { background-color: $blue-hover; }
  &:focus { background-color: $blue-focus; outline: none; }
  &:disabled {
    background-color: $blue-disabled;
    cursor: default;
    color: rgba(255, 255, 255, 0.4);
  }

  &.secondary { background-color: $button-grey; }
  &.secondary:hover { background-color: $button-grey-hover; }
  &.secondary:focus { background-color: $button-grey-focus; }
  &.secondary:disabled { background-color: $button-grey-disabled; }

  &.alert {
    background: $red;
    color: $off-white;
    &:hover { background: $red-hover; }
    &:focus { background: $red-focus; }
    &:disabled { background: $red-disabled; }
  }
  &.info {}

  &.small {
    padding: 4px 14px 5px 14px;
    height: initial;
    width: initial;
    min-width: initial;
  }
  &.button-on-right { margin-left: 17px; }
  &.margin-right { margin-right: 10px; }
}



button {
  &.small { padding: 5.5px 14px 5.5px 14px; }
}
