$bg-color: #151515;
$bg-color-d: darken($bg-color, 5%);
$bg-color-l: lighten($bg-color, 7.5%);

$dark-grey: #1b1c1d;
$dark-grey-d: darken($dark-grey, 2.5%);;

$dark-black: #0a0a0a;

$light-grey: #8f9aa9;

$light-blue: #83d6f3;


$topbar-height: 100px
