@import "Variables";

.light-blue { color: $light-grey; }

html, body { height: 100%; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font: 15px/1 'Source Sans Pro', sans-serif;
  color: #777;
}

a { cursor: pointer; }

h1, h2, h3, h4, h5, h6, input, button {
  font-family: 'Source Sans Pro', sans-serif;
}

h3 {
  font-size: 1.1rem;
  color: #8f9aa9;
  font-weight: 400;
}

.full-width { width: 100%; }

.devider {
  width: 100%;
  margin: 21px 0;
  border: none;
  border-bottom: 1px solid $border-color;
}

.align-left { text-align: left; }
.align-right { text-align: right; }
