$bg-color: #151515;
$bg-color-d: darken($bg-color, 5%);
$bg-color-l: lighten($bg-color, 7.5%);
$dark-grey: #1b1c1d;
$dark-grey-d: darken($dark-grey, 2.5%);
$dark-black: #0a0a0a;
$light-grey: #8f9aa9;
$blue: #3cafd7;
$light-blue: #83d6f3;
$light-white: #f9f9f9;
$topbar-height: 100px;
$off-white: #dfdfe0;
$border-color: #303841;

$border-radius: 2px;

.light-blue { color: $light-grey; }

button, .button {
  padding: 12px;
  border-radius: 2px;
  background: $blue;
  color: white;
  height: 35px;
  font-size: 13px;
  border: none;
  cursor: pointer;

  &:focus { outline: none; }

  &.secondary { background-color: #343638; }
  &.success {}
  &.alert {}
  &.info {}
}

h1, h2, h3, h4, h5, h6, input, button {
  font-family: 'Source Sans Pro', sans-serif;
}

h3 {
  font-size: 1.1rem;
  color: #8f9aa9;
  font-weight: 400;
}

input {
  background: $bg-color;
  padding: 10px;
  color: $off-white;
  border: solid 1px #404b59;
  outline: none;
  border-radius: $border-radius;
  font-size: 13px;
  margin-bottom: 15px;
  width: 645px;
}

.button-on-right { margin-left: 17px; }
