@import "Variables";

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 3px;
  color: $off-white;
  font-family: 'Roboto Mono', monospace;

  th { color: $bright-grey; }
  td { background: $dark-grey-2; }
  tbody {
    tr:hover { background: #242424; }
  }
  th, td { padding: 16px 19px; }

  tr {
    td.text { font-family: 'Source Sans Pro', sans-serif; }
  }

  thead {
    text-align: left;
    text-transform: uppercase;
  }

}
