.secret-phrase-container {

  .header {
    background: $grey;
  }

  .body {
    margin: 50px auto;
    background: $dark-grey;
  }

  p.warning {
    text-transform: uppercase;
    color: $red;
  }

  ol.passphrase {
    margin: 30px 0;
  }

}
