.secret-phrase-container {

  ol.passphrase {
    columns: 4;
    column-gap: 70px;
    list-style-type: decimal;
    
    color: #83d6f3;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 300;
    margin: 30px 0;
    padding: 10px 0 10px 18px;

    li {
      color: $bright-grey;
      font-size: 18px;
      font-weight: 100;
      padding-left: 4px;
      height: 36px;

      &:hover {
        font-size: 22px;
        font-weight: 300;
        color: #cccccc;
      }

    }

  }

}
