@import "Variables";

pre {
  border-radius: 2px;
  background-color: $dark-grey;
  border: 1px solid $border-color;
  padding: 10px 15px;
  height: 200px;
  overflow: auto;
  line-height: 1.1rem;
  font-size: 0.8rem;

  &::-webkit-resizer { background: transparent; }
  &::-webkit-scrollbar { width: 27px; }
  &::-webkit-scrollbar-track { background-color: transparent; }
  &::-webkit-scrollbar-thumb {
    background-color: $button-grey;
    border-radius: 15px;
    border: 9px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }
  &::-webkit-scrollbar-corner { background: transparent; }
}
