.forgot-password-modal {
	min-width: 550px;
}

.loading-container {
	.unlock-wallet {
		.password-input-container, button.unlock {
			margin-bottom: 36px;
			&.haserror {
				margin-bottom: 10px;
			}
		}
		.input-group.password {
			margin-bottom: 0;
		}
		button.unlock {
			position: relative;

			svg {
				position: absolute;
				right: 10px;
				top: 12px;
			}
		}
	}

}
