.set-password-container {

	.form-container {
		width: 600px;
		background: transparent;
		padding: none;
	}

	ol {
		list-style-position: inside;
		
		li {
			i.fa {
				padding-right: 7px;
				width: 13px;

				&.fa-times { color: $red; }
				&.fa-check { color: $blue; }
			}
		}
	}

	ol, p {
		font-size: 13px;
    font-weight: 300;
    font-family: Roboto;
    line-height: 1.5;
	}

	p { max-width: 300px; }

	h5 { padding-bottom: 9px;	}

	.input-group { width: 210px; }

}