@import "Variables";

.header {
    height: $topbar-height;
    background: $dark-grey;

		.back-buttons {
			padding: 30px;
			a { font-size: 3rem; }
		}

    .balance {
        width: 200px;
        padding: 37px 47px 22px 0;
        text-align: right;
        text-transform: uppercase;

        .balance-and-ticker {
          margin-bottom: 5px;
          color: $light-white;

          .total-balance, .zen-symbol { font-size: 14px; font-weight: 600; }
          .total-balance { color: $bright-grey; margin: 7px; }
        }

    }
    .account-balance { font-weight: 600; color: $light-white; font-size: 22px; }

}
