.welcome-messages-container {

	.bullet-points {
		ul {
			list-style: none;
		  padding: 0;
		  margin: 0;

		  li {
				padding-left: 2em;
				text-indent: -1.7em;
				padding-bottom: 18px;
				line-height: 25px;
				font-size: 18px;
				font-weight: 300;
				font-family: 'Source Sans Pro', sans-serif;
				&:last-child { padding-bottom: 0; }
		  }

			svg {
				color: #c0c0c0;
				margin-right: 19px;
				font-size: 12px;
				position: relative;
				top: -1px;
			}

		}
	}

	.bullet-image {
		img {
			&.page-0 { width: 292px; height: 264px; }
			&.page-1 { width: 243px; height: 202px; margin-top: 32px; }
			&.page-2 { width: 253px; height: 206px; margin-top: 20px; }
			&.page-3 { width: 180px; height: 207px; margin-top: 20px; }
		}
	}

	.body-section {	min-height: 300px; }

}
